name: Deploy WordPress

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Copy files to server
        uses: appleboy/scp-action@v0.1.6
        with:
          host: 192.168.122.128        # Replace with your VM IP
          username: enianyole01        # Replace with your VM username
          key: ${{ secrets.SSH_KEY }}
          source: "web/"
          target: "/home/enianyole01/docker-wordpress/web"

